{% extends 'components/Layout/base_extendido.html' %}
{% load static %} 
{% load tailwind_filters %}

{% block head_title %}
    Fábrica 4.0 Externo
{% endblock head_title %}

{% block content_main %}  

    <div class="grid gap-8 container min-h-screen">
        <div class="flex min-h-full flex-col justify-center sm:px-6 lg:px-8">
            <div class="sm:mx-auto sm:w-full sm:max-w-[680px]">
                <div class="bg-white px-6 py-10 shadow rounded-lg sm:px-12"> 
                    <h1 class="max-w-2xl font-bold tracking-tight text-gray-900 text-2xl mb-4">Fábrica 4.0</h1>
                    <form method="post" id="formFabrica"  enctype="multipart/form-data">
                        {% csrf_token %}

                        <h3 class="pb-2 block text-gray-900 text-xl font-bold">1. IDENTIFICACIÓN DEL PROYECTO</h3>

                        <div id="div_codigo_sir" class="mb-3">
                            <label for="{{ parte1_form.codigo_sir.id_for_label }}" class="block text-gray-700 text-sm font-bold mb-2">
                                {{ parte1_form.codigo_sir.label }}
                            </label>
                            {{ parte1_form.codigo_sir }}

                            {% if parte1_form.codigo_sir.errors %}
                                {% for error in parte1_form.codigo_sir.errors %}
                                    <strong>{{ error }}</strong>
                                {% endfor %}
                            {% endif %}
                        </div>

                        <div id="div_nombre_propuesta" class="mb-3">
                            <label for="{{ parte1_form.nombre_propuesta.id_for_label }}" class="block text-gray-700 text-sm font-bold mb-2">
                                {{ parte1_form.nombre_propuesta.label }}
                            </label>
                            {{ parte1_form.nombre_propuesta }}

                            {% if parte1_form.nombre_propuesta.errors %}
                                {% for error in parte1_form.nombre_propuesta.errors %}
                                    <strong>{{ error }}</strong>
                                {% endfor %}
                            {% endif %}
                        </div>

                        <div id="div_sede_id" class="mb-3">
                            <label for="{{ parte1_form.sede_id.id_for_label }}" class="block text-gray-700 text-sm font-bold mb-2">
                                {{ parte1_form.sede_id.label }}
                            </label>
                            {{ parte1_form.sede_id }}

                            {% if parte1_form.sede_id.errors %}
                                {% for error in parte1_form.sede_id.errors %}
                                    <strong>{{ error }}</strong>
                                {% endfor %}
                            {% endif %}
                        </div>

                        <div id="div_fecha_inicio" class="mb-3">
                            <label for="{{ parte1_form.fecha_inicio.id_for_label }}" class="block text-gray-700 text-sm font-bold mb-2">
                                {{ parte1_form.fecha_inicio.label }}
                            </label>
                            {{ parte1_form.fecha_inicio }}

                            {% if parte1_form.fecha_inicio.errors %}
                                {% for error in parte1_form.fecha_inicio.errors %}
                                    <strong>{{ error }}</strong>
                                {% endfor %}
                            {% endif %}
                        </div>

                        <div id="div_empresa" class="mb-3">
                            <label for="{{ parte1_form.empresa.id_for_label }}" class="block text-gray-700 text-sm font-bold mb-2">
                                {{ parte1_form.empresa.label }}
                            </label>
                            {{ parte1_form.empresa }}

                            {% if parte1_form.empresa.errors %}
                                {% for error in parte1_form.empresa.errors %}
                                    <strong>{{ error }}</strong>
                                {% endfor %}
                            {% endif %}
                        </div>

                        <h4 class="pb-2 block text-gray-900 text-base font-bold">DESCRIPCIÓN DEL PROYECTO</h4>
                        <hr class="pb-2" >

                        <div id="div_problema" class="mb-3">
                            <label for="{{ parte1_form.problema.id_for_label }}" class="block text-gray-700 text-sm font-bold mb-2">
                                {{ parte1_form.problema.label }}
                            </label>
                            {{ parte1_form.problema }}

                            {% if parte1_form.problema.errors %}
                                {% for error in parte1_form.problema.errors %}
                                    <strong>{{ error }}</strong>
                                {% endfor %}
                            {% endif %}
                        </div>

                        <div id="div_objetivo" class="mb-3">
                            <label for="{{ parte1_form.objetivo.id_for_label }}" class="block text-gray-700 text-sm font-bold mb-2">
                                {{ parte1_form.objetivo.label }}
                            </label>
                            {{ parte1_form.objetivo }}

                            {% if parte1_form.objetivo.errors %}
                                {% for error in parte1_form.objetivo.errors %}
                                    <strong>{{ error }}</strong>
                                {% endfor %}
                            {% endif %}
                        </div>

                        <div id="div_metodologia" class="mb-3">
                            <label for="{{ parte1_form.metodologia.id_for_label }}" class="block text-gray-700 text-sm font-bold mb-2">
                                {{ parte1_form.metodologia.label }}
                            </label>
                            {{ parte1_form.metodologia }}

                            {% if parte1_form.metodologia.errors %}
                                {% for error in parte1_form.metodologia.errors %}
                                    <strong>{{ error }}</strong>
                                {% endfor %}
                            {% endif %}
                        </div>
                        
                        <h4 class="pb-2 block text-gray-900 text-base font-bold">PLAN DE PROYECTO</h4>
                        <hr class="pb-2" >
                        <h5 class="pb-2 block text-gray-800 text-sm font-bold">EQUIPO DE TRABAJO</h5>

                        <div id="div_docente_id" class="mb-3">
                            <label for="{{ parte1_form.docente_id.id_for_label }}" class="block text-gray-700 text-sm font-bold mb-2">
                                {{ parte1_form.docente_id.label }}
                            </label>
                            {{ parte1_form.docente_id }}

                            {% if parte1_form.docente_id.errors %}
                                {% for error in parte1_form.docente_id.errors %}
                                    <strong>{{ error }}</strong>
                                {% endfor %}
                            {% endif %}
                        </div>

                        <div id="div_bidireccionalidad" class="container-input">
                            <p class="block text-gray-700 text-sm font-bold mb-2">{{ parte1_form.bidireccionalidad.label }}</p> 
                            {{ parte1_form.bidireccionalidad }}
                            
                            <label for="{{ parte1_form.bidireccionalidad.id_for_label }}">
                                {% include "components/svg/svg_subir_archivo.html" %}
                                <span class="iborrainputfile">Seleccionar archivo</span>
                            </label>

                            {% if parte1_form.bidireccionalidad.errors %}
                                {% for error in parte1_form.bidireccionalidad.errors %}
                                    <strong>{{ error }}</strong>
                                {% endfor %}
                            {% endif %}
                        </div>

                        <div id="div_contribucion" class="container-input">
                            <p class="block text-gray-700 text-sm font-bold mb-2">{{ parte1_form.contribucion.label }}</p> 
                            {{ parte1_form.contribucion }}
                            
                            <label for="{{ parte1_form.contribucion.id_for_label }}">
                                {% include "components/svg/svg_subir_archivo.html" %}
                                <span class="iborrainputfile">Seleccionar archivo</span>
                            </label>

                            {% if parte1_form.contribucion.errors %}
                                {% for error in parte1_form.contribucion.errors %}
                                    <strong>{{ error }}</strong>
                                {% endfor %}
                            {% endif %}
                        </div>

                        <h5 class="pb-2 block text-gray-800 text-sm font-bold">DOCUMENTACIÓN</h5>
                        <hr class="pb-2">

                        <div id="div_carta_gantt" class="container-input">
                            <p class="block text-gray-700 text-sm font-bold mb-2">{{ parte1_form.carta_gantt.label }}</p> 
                            {{ parte1_form.carta_gantt }}
                            
                            <label for="{{ parte1_form.carta_gantt.id_for_label }}">
                                {% include "components/svg/svg_subir_archivo.html" %}
                                <span class="iborrainputfile">Seleccionar archivo</span>
                            </label>

                            {% if parte1_form.carta_gantt.errors %}
                                {% for error in parte1_form.carta_gantt.errors %}
                                    <strong>{{ error }}</strong>
                                {% endfor %}
                            {% endif %}
                        </div>

                        <h4 class="pb-2 block text-gray-900 text-base font-bold">IMÁGENES</h4>
                        <hr class="pb-2">

                        <p class="block text-gray-700 text-sm font-bold mb-2">{{ image_form.image.label }}</p> 
                        <div id="div_id_image" class="container-input">
                            {{ image_form.image }}

                            <label for="{{ image_form.image.id_for_label }}">
                                {% include "components/svg/svg_subir_archivo.html" %}
                                <span class="iborrainputfile">Seleccionar archivos</span>
                            </label>

                            {% if image_form.image.errors %}
                                {% for error in image_form.image.errors %}
                                    <strong>{{ error }}</strong>
                                {% endfor %}
                            {% endif %}
                        </div>

                        <div id="div_fondos" class="mb-3">
                            <label for="{{ parte1_form.fondos.id_for_label }}" class="block text-gray-700 text-sm font-bold mb-2">
                                {{ parte1_form.fondos.label }}
                            </label>
                            {{ parte1_form.fondos }}

                            {% if parte1_form.fondos.errors %}
                                {% for error in parte1_form.fondos.errors %}
                                    <strong>{{ error }}</strong>
                                {% endfor %}
                            {% endif %}
                        </div>

                        <div id="parte2_container" style="display: none;">
                            <h3 class="pb-2 block text-gray-900 text-xl font-bold">2. POSTULACIÓN FONDOS</h3>
                            {{ parte2_form|crispy }}
                        </div>
                        
                        <div class="flex gap-2">
                            {% include "components/btn/button.html" with button_text="Guardar cambios" %}    
                            {% include "components/btn/button_limpiar.html" with button_text="Limpiar campos" button_id="btnLimpiar" %}          
                        </div>
                        
                    </form>
                </div>
            </div>
        </div>

        <div class="flex min-h-full flex-col justify-normal fixed-element">
            <div class="sm:mx-auto sm:w-full sm:max-w-[400px]">
                <div class="bg-white p-6 shadow rounded-lg overflow-y-auto max-h-[600px]"> 
                    <h1 class="max-w-2xl font-bold tracking-tight text-gray-900 text-2xl mb-4">Instrucciones</h1>
                    <div id="placeholderText" class="p-2 border rounded text-gray-700">Nombre de la propuesta</div> 
                </div>
            </div>
        </div>
    </div>

    {% include 'components/mensajes.html' %}  

{% endblock content_main %}

{% block javascript %}

    <script defer src="{% static "js/formulario.js" %}"></script>
    <script defer src="{% static "js/commonForm.js" %}"></script>

{% endblock javascript %}
