{% extends 'components/Layout/base_extendido.html' %}
{% load static %} 
{% load tailwind_filters %}

{% block head_title %}
    Fabrica 4.0 Formulario
{% endblock head_title %}

{% block content_main %}  

    <div class="grid gap-8 container min-h-screen p-6">
        <div class="flex min-h-full flex-col justify-center sm:px-6 lg:px-8">
            <div class="sm:mx-auto sm:w-full sm:max-w-[680px]">
                <div class="bg-white px-6 py-10 shadow rounded-lg sm:px-12"> 
                    <h1 class="max-w-2xl font-bold tracking-tight text-gray-900 text-2xl mb-4">Fabrica 4.0</h1>
                    <form method="post" id="formFabrica">
                        {% csrf_token %}
                    
                        {{ form|crispy }}
                    
                        {% include "components/btn/button.html" with button_text="Guardar cambios" %}              

                        {% if messages %}
                        {% for message in messages %}
                            {% if "error" in message.tags %}
                            <strong>{{ message }}</strong>
                            {% endif %}
                        {% endfor %}
                        {% endif %}
                    </form>
                </div>
            </div>
        </div>

        <div class="flex min-h-full flex-col justify-normal fixed-element">
            <div class="sm:mx-auto sm:w-full sm:max-w-[400px]">
                <div class="bg-white p-6 shadow rounded-lg overflow-y-auto max-h-[600px]"> 
                    <h1 class="max-w-2xl font-bold tracking-tight text-gray-900 text-2xl mb-4">Instrucciones</h1>
                    <div id="placeholderText" class="p-2 border rounded text-gray-700">Nombre de la propuesta</div> 
                </div>
            </div>
        </div>
    </div>

    {% include 'components/mensajes.html' %}  

{% endblock content_main %}

{% block javascript %}

    <script defer src="{% static "js/formulario.js" %}"></script>

{% endblock javascript %}
